
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Index</h2>
<table class="table table-bordered" style="margin-top:20px; margin-left:20px">
    <tr>
        <th>ID</th>
        <th>Kategori adı</th>
    </tr>
</table>
<button class="btn btn-primary">Yeni kategori</button>
