@model TicariOtamasyon.Models.Sınıflar.Departman
@{
    ViewBag.Title = "DepartmanGetir";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>DepartmanGetir</h2>
<br />
<br />
<br />
@using (Html.BeginForm("DepartmanGuncelle", "Departman", FormMethod.Post)) { 
<div class="form-group">


    @Html.LabelFor(x=>x.DepartmanAd)
    @Html.TextBoxFor(x=>x.DepartmanAd,new {@class="form-control"})

    @Html.HiddenFor(x=>x.DepartmanID)
</div>
<button class="btn btn-10" style="background-color:green">Güncelle</button>




}
