@model TicariOtamasyon.Models.Sınıflar.Cari
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CariLayout.cshtml";
}

<title>Cari Bilgi</title>
@using (Html.BeginForm("Index2", "CariPanel", FormMethod.Post))
{

    <table class="table table-bordered">

        <tr>
            <td><label>Mail Adresi:@HttpContext.Current.User.Identity.Name</label></td>
        </tr>
        <tr>

            <td>@Html.TextBoxFor(x => x.CariAd, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <td>@Html.TextBoxFor(x => x.CariSoyad, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <td>@Html.TextBoxFor(x => x.CariSehir, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <td>@Html.TextBoxFor(x => x.Password, new { @class = "form-control" })</td>
        </tr>
    </table>
    <button class="custom-btn btn-warning">Güncelle</button>


}



